<section id="pricing" class="section section-md bg-soft">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-6">
                <h1 class="mb-3">Choose the right plan for your business</h1>
            </div>
        </div>
        <div class="row text-gray">
            <div class="col-12 col-lg-4">
                <!-- Card -->
                <div class="card shadow-soft mb-5 px-2">
                    <div class="card-header border-light p-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 mb-0" data-annual="89" data-monthly="89">89</span>
                        </div>
                        <h4 class="mb-3 text-black">Freelancer</h4>
                        <p class="font-weight-normal mb-0">Great for personal use and for your side projects.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Full documentation</li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Domains: <strong>1</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Team size: <strong>1 developer</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Premium support: <strong>6 months</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Free updates: <strong>6 months</strong></li>
                        </ul> 
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a href="https://themes.getbootstrap.com/product/rocket/#pricing" target="_blank" class="btn btn-block btn-outline-gray animate-up-2">
                            Purchase
                        </a>
                    </div>
                </div>
                <a href="https://themes.getbootstrap.com/licenses/#freelancer" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale mr-2"></span>Freelancer License</a> 
            </div>
            <div class="col-12 col-lg-4">
                <!-- Card -->
                <div class="card shadow-soft mb-5">
                    <div class="card-header border-light p-4">
                        <!-- Price -->
                        <div class="d-flex mb-3 text-primary">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-primary mb-0" data-annual="249" data-monthly="249">249</span>
                        </div>
                        <h4 class="mb-3 text-black">Company</h4>
                        <p class="font-weight-normal mb-0">Relevant for multiple users and extended support.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Full documentation</li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Domains: <strong>1</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Team size: <strong>1-5 developers</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Premium support: <strong>12 months</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Free updates: <strong>12 months</strong></li>
                        </ul> 
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a href="https://themes.getbootstrap.com/product/rocket/#pricing" target="_blank" class="btn btn-block btn-outline-primary animate-up-2">
                            Purchase
                        </a>
                    </div>
                </div>
                <a href="https://themes.getbootstrap.com/licenses/#company" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale mr-2"></span>Company License</a> 
            </div>
            <div class="col-12 col-lg-4">
                <!-- Card -->
                <div class="card shadow-soft border-light mb-5">
                    <div class="card-header border-light p-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-secondary mb-0" data-annual="599" data-monthly="599">599</span>
                        </div>
                        <h4 class="mb-3 text-black">Enterprise</h4>
                        <p class="font-weight-normal mb-0">Best for large scale uses and extended redistribution rights.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Full documentation</li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Domains: <strong>unlimited</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Team size: <strong>unlimited</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Premium support: <strong>24 months</strong></li>
                            <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>Free updates: <strong>12 months</strong></li>
                        </ul> 
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a href="https://themes.getbootstrap.com/product/rocket/#pricing" target="_blank" class="btn btn-block btn-outline-secondary animate-up-2">
                            Purchase
                        </a>
                    </div>
                </div>
                <a href="https://themes.getbootstrap.com/licenses/#enterprise" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale mr-2"></span>Enterprise License</a>
            </div>
        </div>
    </div>
</section>