<nav class="bd-subnavbar pt-3 pb-3 pb-md-3 d-lg-none">
  <div class="container">
    <!-- <form class="bd-search mb-2 mb-md-0 mr-auto">
      <input type="search" class="form-control" id="search-input" placeholder="Search docs..." aria-label="Search docs for..." autocomplete="off" data-docs-version="{{ .Site.Params.docs_version }}">
    </form> -->

    <!-- {{ partial "docs-versions" . }} -->

    <div class="d-flex w-100 align-items-center justify-content-between">
      <ul class="flex-row list-style-none mr-3 d-flex d-lg-none">
        <li class="mr-3">
          <a href="https://www.facebook.com/themesberg/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Themesberg on Facebook" data-original-title="Like us on Facebook">
            <i class="fab fa-facebook text-primary"></i>
          </a>
        </li>
        <li class="mr-3">
          <a href="https://twitter.com/themesberg" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Themesberg on Twitter" data-original-title="Follow us on Twitter ❤️">
            <i class="fab fa-twitter text-primary"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/themesberg" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Themesberg on Github" data-original-title="Star us on Github">
            <i class="fab fa-github text-primary"></i>
          </a>
        </li>
      </ul>
      <div>
        <a class="btn btn-sm btn-primary animate-up-2 ml-2 ml-lg-3" href="{{ .Site.Params.product_page }}" target="_blank"><i class="fas fa-download mr-2"></i>Buy now</a>
        <a class="btn btn-sm btn-secondary animate-up-2 ml-2 ml-lg-3" href="{{ .Site.Params.live_preview }}" target="_blank">Live preview</a>
      </div>
    </div>

    <!-- <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3 order-3 ml-auto" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
     {{ partial "icons/menu.svg" (dict "width" "30" "height" "30") }}
   </button> -->
  </div>
</nav>
